# Basic Syntax

1. Backlash: for Continuation

In [1]:
print("Hello\World")

Hello\World

2. Triple Quote: 
i) Text art ii)Documentation

In [3]:
""" ¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪ """

' ¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪¸¸.•*¨*•♫♪ '

In [6]:
print("""Hey,
Python is Programmming language!""")

Hey,
Python is Programmming language!

3. String in Single Quote

In [9]:
print('Hello World')

Hello World

In [10]:
print("Hello World")

Hello World

In Single Quote apostrophe are not used, it'll give Error.
So use Double Quote

In [14]:
print('Python's Programming language')

SyntaxError: invalid syntax (<ipython-input-14-bc4f839bb707>, line 1)

In [16]:
print("Python's Programming Language")

Python's Programming Language

4. Escape Sequance of String :   
tab,new and sound

In [17]:
print("Hello\tWorld")

Hello	World

In [18]:
print("Hello\nWorld")

Hello
World

In [19]:
print("Hello\aWorld")

HelloWorld

5. Formatted Output

In [24]:
name ="Shweta."
marks= 74.344
age= 22

In [28]:
print("Hello my name is",name,"I have got marks",marks,"and my age is",age)

Hello my name is Shweta. I have got marks 74.344 and my age is 22

In [31]:
print("Hello my name is %s I have got marks %f and my age is %d"%(name,marks,age))

Hello my name is Shweta. I have got marks 74.344000 and my age is 22

In [32]:
print(f"Hello my name is {name} I have got marks {marks} and my age is {age}")

Hello my name is Shweta. I have got marks 74.344 and my age is 22

In [34]:
print("Hello my name is %s I have got marks %5f and my age is %d"%(name,marks,age))

Hello my name is Shweta. I have got marks 74.344000 and my age is 22

# Python varibles

In [35]:
a=10

In [36]:
_1=10

In [37]:
#varible by integer will give error
1=10

SyntaxError: can't assign to literal (<ipython-input-37-a2dde8629cd7>, line 2)

In [38]:
#for ,if and def cannot be used as they are reserved keyword
for=10

SyntaxError: invalid syntax (<ipython-input-38-427873c348b8>, line 2)

Assignment Operator

In [41]:
x=y=z=20
print(x,y,z)

20 20 20

In [42]:
del x

In [44]:
# as X is deleted,so it'll give error
print(x)

NameError: name 'x' is not defined

# Types of Operator

1. Arithmetic Operator

In [45]:
a=50
b=24

In [46]:
#multiplication
a*b

1200

In [48]:
#division
a/b

2.0833333333333335

In [49]:
#addition
a+b

74

In [50]:
#subtraction
a-b

26

In [51]:
#Exponential
2**4

16

2. Comparison Operator

In [52]:
a=20
b=30
c=20

In [53]:
#Equal to
a==c

True

In [54]:
#Less than
a<b

True

In [55]:
#Greater than
b>c

True

In [56]:
#Less than or Equal to
a<=c

True

In [57]:
#Greater than or Equal to
a>=c

True

In [58]:
#Not Equal to
a!=b

True

3. Assignment Operator

In [96]:
#Addition
x=30
x=x+5
print(x)

35

In [98]:
#Subtraction
x=30
x=x-22
print(x)

8

In [99]:
#Division
x=30
x=x/6
print(x)

5.0

In [100]:
#Exponential
x=10
x=x**2
print(x)

100

4. Bitwise Operator

In [108]:
m=16
n=4

In [111]:
bin(m)

'0b10000'

In [112]:
bin(n)

'0b100'

In [114]:
bin(m|n)

'0b10100'

In [115]:
bin(m&n)

'0b0'

5. Logical Operator

In [125]:
#Boolean
w= False
x= True 
y= False
z= True

In [117]:
#AND
z and x

True

In [118]:
#AND
x and y

False

In [119]:
#OR
x or z

True

In [120]:
#OR
x or y

True

In [124]:
#OR
y or w

False

In [128]:
#Integer
10<9 or 10<8

False

In [129]:
10>9 and 10>8

True

6. Membership Operator

In [133]:
a="Hello my name is shweta"
"s" in a

True

In [134]:
"S" in a

False

In [135]:
"b" in a

False

In [136]:
"a" not in a

False

In [137]:
"c" not in a

True

7. Identity Operator

In [146]:
x=3
y=3
z=5

In [145]:
x is y

True

In [147]:
x is z

False

In [148]:
z is not y

True

In [149]:
x is not y

False

In [150]:
x is not z

True

Operator Precednce

In [151]:
a=20
b=40
c=10
d=2

In [155]:
e=a+b*c #b*c then add a
print(e)

420

In [158]:
e=a+b*c/d  #b*c then div and then add
print(f)

220.0

In [159]:
e= a + (b * c) / d
print(e)

220.0

In [160]:
e= (a + b) * (c / d)
print(e)

300.0

In [161]:
e=((a + b) * c) / d
print(e)

300.0